body {
    font: 15px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#infrastructure {
    width: 70%;
    height: 100%;
    display: inline-block;
    border: 2px solid gray;
    border-radius: 5px;
}

.totals {
    display: inline-block;
    position: absolute;
    padding: 20px;
}

.totals div {
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 10px;
}

.connect-nodes span:first-child {
    display: block;
    margin-bottom: 5px;
}

.input-node label,
.input-node select,
.input-node input {
    margin-right: 10px;
}
